<div class="col-xs-7">
  <%= form_tag(follows_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search user" %>
      <%= submit_tag "Search" %>
  <% end %>

  <form accept-charset="UTF-8" action="/" method="post">
    <% for user in @users %>
        <% if !(current_user.followed.include? user) %>
            <% if !(current_user == user) %>
                <div class="user">
                  <p>
                    <strong><%= user.email %></strong>
                    <%= link_to "follow", follows_path(:followed_id => user), :method => :post %>
                  <div class="clear"></div>
                  </p>
                </div>
            <% end %>
        <% end %>
    <% end %>
  </form>
</div>
<div class="col-xs-5">
  <% current_user.follows.each do |follow| %>
      <div class='card-block'>
        <h5 class='card-title'>
          <img src=<%= follow.followed.avatar.url %>  width="40" height="40" alt="no pic">
          <%= follow.followed.email %>
          <%= link_to "unfollow", follow, :confirm => 'Are you sure?', :method => :delete %>
        </h5>
      </div>
  <% end %>
</div>