<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-dark bg-inverse">
      <div class="col-xs-4">
        <a class="navbar-brand" href="/">BLOGLIFE</a>
      </div>
      <div class="col-xs-2">
      </div>
      <div class="col-xs-6">
        <ul class="nav navbar-nav">

          <% if user_signed_in? %>
              <li class="nav-item">
                <% if current_user.avatar? %>
                    <img src="<%= current_user.avatar.url %>" width="40" height="40">
                <% else %>
                    <img src="../anonymous.png" width="40" height="40">
                <% end %>
                <a class="btn btn-primary " href=<%= edit_user_registration_path %>> <%= current_user.email %></a>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign out', destroy_user_session_path, :method => 'delete', class: 'btn btn-primary' %>
              </li >
              <li class="nav-item">
                <%= link_to 'Add friend', friendships_path, class: 'btn btn-primary' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Follow', follows_path, class: 'btn btn-primary' %>
              </li>
          <% else %>
              <li class="nav-item">
                <a class="nav-link">
                  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <%= link_to 'Login in', new_user_session_path, class: 'btn btn-primary' %>
                </a>
              </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>
</body>
</html>
